.label1,
.labelCaption {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.labelCaption {
  font-size: var(--font-size-sm);
  line-height: 16px;
  display: none;
}
.label {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.text {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.inputIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.input,
.input1,
.inputField {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input1 {
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  flex-direction: row;
  padding: var(--padding-base);
  gap: var(--gap-5xs);
}
.input,
.inputField {
  flex-direction: column;
}
.input {
  color: var(--color-darkgray);
}
.inputField {
  gap: var(--gap-5xs);
}
.orMoreCharacters {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 16px;
  color: var(--color-darkgray);
}
.password {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--font-montserrat);
}
